In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.__version__

'2.2.2'

In [3]:
data = pd.read_csv("car_fuel_efficiency.csv")

In [4]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
data.shape

(9704, 11)

In [6]:
num_records = data.shape[0]
num_records

9704

In [7]:
num_fuel_types = data['fuel_type'].nunique()
num_fuel_types

2

In [8]:
count_missing_columns = data.isnull().any().sum()
count_missing_columns

4

In [9]:
max_fuel_efficiency_asia = data.loc[data['origin'] == 'Asia', 'fuel_efficiency_mpg'].max()
max_fuel_efficiency_asia

23.759122836520497

In [10]:
# Initial median
initial_median = data['horsepower'].median()
print("Initial median:", initial_median)

# Most frequent (mode) horsepower value
mode_hp = data['horsepower'].mode()[0]
print("Most frequent horsepower:", mode_hp)

# Fill missing horsepower values with the mode
data.fillna({'horsepower': mode_hp}, inplace=True)

# Median after filling
new_median = data['horsepower'].median()
print("Median after filling missing values:", new_median)

# Compare medians
if new_median > initial_median:
    print("Yes, it increased")
elif new_median < initial_median:
    print("Yes, it decreased")
else:
    print("No")

Initial median: 149.0
Most frequent horsepower: 152.0
Median after filling missing values: 152.0
Yes, it increased

In [11]:
# Select all cars from Asia
asia_cars = data[data['origin'] == 'Asia']

# Select only 'vehicle_weight' and 'model_year' columns
asia_cars_selected = asia_cars[['vehicle_weight', 'model_year']]

# Select the first 7 values
asia_cars_first7 = asia_cars_selected.head(7)

# Get the underlying NumPy array (X)
X = asia_cars_first7.to_numpy()

# Compute matrix-matrix multiplication between the transpose of X and X using np.dot()
XTX = np.dot(X.T, X)

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Multiply the inverse of XTX with the transpose of X, then multiply the result by y using np.dot()
w = np.dot(np.dot(XTX_inv, X.T), y)

# the sum of all the elements of the result.
sum_w = w.sum()
sum_w

0.5187709081074007